Simple Graph lib:

Should support 2 types of graphs - directed and undirected with 3 operations:

1) addVertex - adds vertex to the graph

2) addEdge - adds edge to the graph

3) getPath - returns a list of edges between 2 vertices (path does not have to be optimal)

Vertices should be of a user defined type.

Questions to be ready to answer (do not have to implement):

Add weighted edges support in your lib.

Add traverse function that will take a user defined function and apply it on every vertex of the graph.

Make you graphs thread safe.